<ion-header>
    <ion-navbar>
        <ion-title>&nbsp;</ion-title>
        <ion-buttons end>
          <button ion-button large clear (click)="showMenu(idx)"><ion-icon name="menu"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content #myContent>
    <ion-slides [initialSlide]="idx">
        <ion-slide *ngFor="let data of Details; let i = index">
            <ion-card *ngIf="i<6">
                <shrinking-segment-header [scrollArea]="myContent" headerHeight="250">
                  <img src="{{path+data.details.image}}">
                  <span class="img-bullet bcolor{{i+1}}">{{i+1}}</span>
                </shrinking-segment-header>
                <ion-card-content>
                  <ion-list inset>
                      <ion-item text-wrap *ngFor="let det of data.details.content; let di = index">
                          <ion-row>
                              <ion-col col-10>
                                  <h2 class="heading1">{{det.title1}}{{index}}</h2>
                                  <h2 class="heading2">{{det.title2}} </h2>
                                  <p>{{det.paragraph}}</p>
                              </ion-col>
                              <ion-col col-2>
                                  <audio-track #track01 [track]="getTrack(det.soundfile,det.title1)">
                                      <audio-track-play light [audioTrack]="track01">
                                      </audio-track-play>
                                  </audio-track>
                              </ion-col>
                          </ion-row>
                      </ion-item>
                  </ion-list>
                </ion-card-content>
            </ion-card>
            <ion-card *ngIf="i===6">
                <ion-card-content>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>
