// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.bcolor1 {
  background-color: #345d89;
}
.bcolor2 {
  background-color: #75a400;
}
.bcolor3 {
  background-color: #38a68b;
}
.bcolor4 {
  background-color: #4762c9;
}
.bcolor5 {
  background-color: #644591;
}
.bcolor6 {
  background-color: #a34788;
}
.bcolor7 {
  background-color: #7e253b;
}
.bcolor8 {
  background-color: #c65624;
}
.bcolor9 {
  background-color: #ff9600;
}
.bcolor10 {
  background-color: #bb9a39;
}

.color1 {
  color: #345d89;
}
.color2 {
  color: #75a400;
}
.color3 {
  color: #38a68b;
}
.color4 {
  color: #4762c9;
}
.color5 {
  color: #644591;
}
.color6 {
  color: #a34788;
}
.color7 {
  color: #7e253b;
}
.color8 {
  color: #c65624;
}
.color9 {
  color: #ff9600;
}
.color10 {
  color: #bb9a39;
}
